$colour-primary: #fff;
$colour-secondary: #73bda9;
$colour-bg: #000;
$colour-hover: #0071bc;
$colour-error: #c53131;

$body-font-family: "Nunito", sans-serif;
$heading-font-family: "Orbitron", sans-serif;

$tablet-width: 992px;

// MY TASK
@import "~bootstrap/scss/bootstrap";
@import "./partials/layout/layout";
@import "./partials/typography/typography";
@import "./partials/layout/nav";
@import "./partials/layout/bgVideo";
@import "./partials/home/jumbotron";
@import "./partials/home/nextLaunch";
@import "./partials/home/virtualSimulator";
@import "./partials/home/lunarStarship";
@import "./partials/home/featureStories";
@import "./partials/home/galleryImages";
@import "./partials/layout/footer";
@import "./partials/forms/forms";
@import "./partials/contact/contact";
@import "./partials/launches/launches";
@import "./partials/history/historicalEvents";
@import "./partials/layout/loader";
@import "./partials/about/about";
