#next_launch {
  & .row_next {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colour-primary;
    font-size: 12px;
    min-height: 100%;
    padding: 40px 0;
  }

  & .order-md-2 img {
    height: 100%;
  }

  & .text_launch {
    text-align: center;
    line-height: 0.9;
    & h2 {
      color: $colour-hover;
      text-transform: uppercase;
      font-size: 30px;
      margin: 0px 30px 50px;
    }

    & .day {
      display: flex;
    }

    & p {
      color: $colour-hover;
      text-transform: uppercase;
      font-family: "Orbitron", sans-serif;
      font-weight: 800;
      width: 25%;
      margin-bottom: 5px;
    }
    & button {
      color: $colour-hover;
      border-color: $colour-hover;
    }

    & .countdown_launch {
      display: flex;
      margin-bottom: 20px;
      margin-top: 10px;
      color: $colour-error;
      font-size: 29px;
      font-weight: 800;
      justify-content: center;
    }

    & .countdown_next_launch p {
      color: #0071bc;
      font-size: 25px;
      font-weight: 800;
      width: 25%;
    }
  }

  @media (min-width: $tablet-width) {
    & .text_launch h2 {
      font-size: 50px;
      margin-bottom: 60px;
      font-weight: 800;
    }
    & .text_launch .day {
      margin-top: 30px;
    }
    & .text_launch .day p {
      font-size: 20px;
      font-weight: 800;
    }
    & .countdown_launch {
      margin-bottom: 0;
      margin-top: 25px;
      font-size: 39px;
    }
    & .countdown_launch p {
      font-size: 40px;
      width: 140px;
    }
    & .text_launch button {
      margin-top: 30px;
      box-shadow: $colour-hover 1px 1px 5px 0px;
    }
    & .text_launch button:hover {
      color: $colour-primary;
      background: $colour-hover;
      transition: 0.2s;
      border: 3px solid $colour-hover;
    }
  }
}
