/* MAIN ABOUT */

#main_about {
  margin: 0 30px;
  position: relative;
  padding-top: 200px;

  & .container {
    padding-left: 0;
    padding-right: 0;
  }

  & h1 {
    margin-bottom: 40px;
    text-align: left;
    font-size: 27px;
    text-transform: capitalize;
    position: absolute;
    top: 100px;
    left: 0;
    margin: 40px 0;
    animation: none;
  }

  & h1 span {
    color: $colour-hover;
  }

  & .about {
    background-color: $colour-bg;
    border: 2px solid $colour-secondary;
  }

  & .about img:nth-of-type(2) {
    display: none;
  }

  & .about_spaceX {
    padding: 15px;
    line-height: 1.1;
    display: flex;
  }

  & .about_text {
    display: flex;
  }

  & .about_text::before {
    display: none;
  }

  & .left_text {
    width: 39%;
    margin-right: 20px;
  }

  & .left_text p {
    font-size: 17px;
    color: $colour-secondary;
    padding-bottom: 0;
  }

  & .right_text {
    width: 56%;
  }

  & .right_text p {
    font-size: 17px;
    padding-bottom: 0;
  }

  & .right_text .summary {
    line-height: 1.25;
  }

  & .about .about_spaceX img:nth-of-type(1) {
    display: none;
  }
}

/* MEDIA QUERY */

@media screen and (min-width: 700px) {
  #main_about {
    width: 70%;
    margin: 0 auto;
    padding-top: 175px;

    & .about {
      display: flex;
    }
    & .about .about_text {
      display: flex;
    }
    & .about img:nth-of-type(1) {
      display: none;
    }
    & .about img:nth-of-type(2) {
      display: inline-block;
      max-width: 35%;
      object-fit: cover;
    }
    & .about_spaceX {
      display: block;
      padding: 50px 70px;
      position: relative;
    }
    & .about_spaceX::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-bottom: 35px solid transparent;
      border-top: 35px solid transparent;
      border-right: 30px solid $colour-bg;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -29px;
    }

    & h1 {
      top: -38px;
      margin-bottom: 15px;
      position: relative;
      padding-top: 0;
    }
    & .left_text {
      width: 25%;
    }
    & .right_text {
      width: 59%;
    }
    & .about .about_spaceX img:nth-of-type(1) {
      display: block;
      position: absolute;
      width: 200px;
      right: 0;
      transform: rotate(33deg);
      animation: falcon 2.5s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes falcon {
    0% {
      transform: translatex(-480px) translatey(150px) rotate(0deg);
    }
    100% {
      transform: translateX(70px) translateY(-60px) rotate(33deg);
    }
  }
}

@media screen and (max-width: 700px) {
  #main_about .about h1 {
    margin: 20px 0;
  }
}

@media screen and (min-width: 701px) and (max-width: 1300px) {
  #main_about {
    width: 85%;

    & .about .elon_img {
      width: 35%;
    }
    & .about_spaceX {
      padding: 30px;
    }
    & h1 {
      margin-bottom: 0;
      margin-top: 40px;
      font-size: 25px;
    }
    & .left_text p,
    .right_text p {
      font-size: 13px;
    }
    & .about .about_spaceX img:nth-of-type(1) {
      transform: rotate(33deg);
      animation: falcon 2.5s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes falcon {
    0% {
      transform: translatex(-350px) translatey(100px) rotate(0deg);
    }
    100% {
      transform: translateX(70px) translateY(-60px) rotate(33deg);
    }
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  #main_about {
    width: 80%;
    margin-bottom: 420px;
  }
}
